.bar{
	margin: 0px;
	margin-bottom: 15px;
	padding: 20px;
	color: #d9d9d9;
	background-color: #9f9f9f;
}

.back{
	background-color: #ebebeb;
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px;
}

.dd{
	height: 35px;
	width: 70%;
	color: #002b80;
	-webkit-appearance: none;
	background: url("arrow.png") no-repeat right #fff;
}

.b{
	float: right;
	background-color: transparent;
	text-decoration: underline;
	border: none;
	padding: 0 4px;
	cursor: pointer;
	color: #002b80;
}

.vr{
	border-left: 2px solid #ebebeb;
	padding: 25px;
}

.result{
	border-style: solid;
	border-color: #9f9f9f; 
	width: 90%;
	padding: 25px;
}

.container{
	position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border-style: solid;
    border-width: 1px;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid black;
    border-width: 0 1px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

::-webkit-scrollbar {
    width: 35px;
}

::-webkit-scrollbar-track {
    background: #e6e6e6; 
}

::-webkit-scrollbar-thumb {
    background: #000; 
}

::-webkit-scrollbar-button:vertical:increment {
	height: 35px;
    background-image: url(arrow.png);
}

::-webkit-scrollbar-button:vertical:decrement {
	height: 35px;
    background-image: url(uparrow.png);
}

left{
	color: grey;
	font-size: 20px;
}

right{
	color: black;
	font-size: 20px;
}
